/* Global Styles */
body {
    background-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: #131921 #131921;
    margin-bottom: 100px;
}

/* Form Styling */
.form-inline {
    display: inline-flex;
    position: relative;
}

.search-bar {
    width: 25%;
    margin: 0 auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.form-inline .btn {
    background-color: #f8694c;
    margin-left: -40px;
    z-index: 801;
    transition: background-color 0.3s ease;
    border-radius: 5px;
}

@media (max-width: 768px) {
    .search-bar {
        width: 50%;
    }
}

.form-inline .btn:hover {
    background-color: #c45335;
}

/* Scrollbar Styling */
body::-webkit-scrollbar {
    width: 15px;
}

body::-webkit-scrollbar-track {
    background: #131921;
    border-radius: 4px;
}

body::-webkit-scrollbar-thumb {
    background: #131921;
    border-radius: 4px;
    border: 2px solid #232E33;
}

/* Header and Footer */
header {
    background-color: rgba(255, 255, 255, 0.8);
}

footer {
    background-color: #fff;
}

/* Span Styles */
span {
    color: #f8694c;
}

/* Navbar and Nav Items */
.navbar-nav .nav-item {
    margin-right: 10px;
}

/* Category NavBar */
#firstNavbar .navbar-nav .nav-item .nav-link {
    color: #000000;
    border-bottom: 2px solid transparent;
}

#firstNavbar .navbar-nav .nav-item:hover .nav-link {
    color: #ff8840;
}

#firstNavbar .navbar-nav .nav-item .nav-link:hover {
    border-bottom-color: #ff8840;
}

/* Dropdown Styling */
.dropdown-toggle {
    min-width: 200px;
    max-width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Dropdown Menu Styles */
.dropdown {
    margin-right: 40px;
}

.dropdown-menu-custom {
    background-color: #ffffff;
    border: 1px solid #ffffff;
    color: #fff;
}

.dropdown-item:active {
    background-color: #f8694b;
}

.dropdown-menu-custom li {
    height: 40px;
    line-height: 40px;
}

/* Logout Button Styling */
.btn-logout,
.btn-logout-custom {
    background-color: #dc3545;
    color: #fff;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    min-width: 200px;
}

.btn-logout:hover {
    background-color: #c82333;
}

.btn-logout-custom:hover {
    background-color: #c0392b;
    border-color: #922b21;
    color: #fff;
}

/* Cart Styles */
.cart-link {
    padding: 8px;
    border-radius: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
    display: inline-block;
    left: 20px;
}

.cart-image {
    max-width: 38px;
}

/* Badge Styling */
.badge {
    color: #f8694c;
    font-size: 18px;
    position: absolute;
    top: 7px;
    right: 9px;
    padding: 5px 10px;
    border-radius: 50%;
}

/* Navbar Button Styles */
.navbar-nav .btn {
    color: #f8694c;
    border-color: #f8694c;
}

.navbar-nav .btn:hover {
    background-color: #f8694c;
    color: white;
}

/* General Page Design */

h3,
h4,
h5,
h6 {
    margin-bottom: 20px;
}

h1 {
    font-size: 36px;
    font-weight: bold;
    color: #333;
}

h2 {
    font-size: 24px;
    font-weight: bold;
    color: #555;
}

p {
    font-size: 16px;
    line-height: 1.5;
    color: #666;
}


/* Form Group Styles */
.form-group {
    margin-bottom: 20px;
}

/* Table Styles */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.btn-primary {
    background-color: #f8694c !important;
    border-color: #f8694c !important;
}

.btn-primary:hover {
    background-color: #bf4800 !important;
    border-color: #bf4800 !important;
}

html {
    position: relative;
    min-height: 100%;
}


/* Footer Stili */
footer {
    background-color: var(--primary-color);
    color: white;
    text-align: center;

}


/* Sekmeler */
.nav-tabs {
    border-bottom: 2px solid #f8694c;
}

.nav-tabs .nav-link {
    border: none;
    color: #333;
    margin-right: 5px;
}

.nav-tabs .nav-link.active {
    color: #fff;
    background-color: #f8694c;
}

/* Kart Stilleri */
.card {
    background-color: #fff;
    border: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    border-radius: 5px;
}

.card-header {
    background-color: #f8f9fa;
    border-bottom: 1px solid #eaeaea;
    padding: 15px;
    font-weight: bold;
}

.card-body {
    padding: 15px;
}

/* Form Stilleri */
.form-control {
    border: 1px solid #ced4da;
    border-radius: 4px;
    padding: 10px;
    font-size: 16px;
}

.form-control:focus {
    border-color: #f8694c;
    box-shadow: none;
}

/* Buton Stilleri */
.btn {
    padding: 10px 15px;
    border-radius: 4px;
    font-size: 16px;
}


/* Modal Stilleri */
.modal-content {
    border-radius: 5px;
}

.modal-header {
    background-color: #f8694c;
    color: white;
    padding: 15px;
    border-bottom: none;
}

.modal-footer {
    padding: 15px;
    border-top: none;
}


/* Ek Stiller */
.table {
    width: 100%;
    margin-bottom: 20px;
}

.table th,
.table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #eaeaea;
}

.border-bottom {
    border-bottom: 1px solid #eaeaea;
    padding-bottom: 15px;
    margin-bottom: 15px;
}