@model ShopAppProject.Data.Deals

@{
    ViewData["Title"] = "Delete Deal";
}

<h2>@ViewData["Title"]</h2>

<h3>Are you sure you want to delete this deal?</h3>
<div>
    <h4>Deal Details</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DealsType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DealsType)
        </dd>

        <!-- Include other deal properties here as needed -->

    </dl>

    <form asp-action="Delete" method="post">
        <input type="hidden" asp-for="DealsId" />
        <div class="form-group">
            <input type="submit" value="Delete" class="btn btn-danger" />
            <a asp-action="Index" class="btn btn-secondary">Back to List</a>
        </div>
    </form>
</div>
